a{
    text-decoration: none;
}

body{
    overflow-x: hidden;
    cursor: url(img/svgs/next.svg), auto;
}

.goup{
    position: fixed;
    left: 93%;
    top: 94%;
    z-index: 100;
    opacity: 0.8;
    transition: 0.4s;
}

.goup:hover{
    opacity: 1;
}



